    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <h2>About the developers/project</h2>
                    <p> This projec was created by: Kristín Ólöf Helgadóttir, Diana Strele, Jarmo Hakkarainen. <br/> November 2016 </p>
                    <p> For this project we followed the practices of Extreme Programming and SCRUM. </p>
                    <p>The project has bean developed in Netbeans, (Tomcat)  REST API,  Angular</p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>