
<html>
    <head>
        <title>book flight</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Booking flight</div>
        <div class="row">
            <input type="text" placeholder="Name" id="name" ng-model="passanger.name" required>
        </div>
        <br/>
        <div class="row">
            <input type="text" placeholder="phoneNumber" id="naphoneNumberme" ng-model="passanger.phoneNumber" required>
        </div>
        <br/>
        <h4><a href="#/viewbooking">View booking</a></h4>
        <h4><a href="#/flightlist">Back to results</a></h4>
    </body>
</html>
