<div ng-controller="SearchCtrl">
    
    <h1>Results:</h1>
    <span ng-repeat="r in result" >
        <br/>
        <h3 ng-repeat="f in result.flights track by $index" style='margin: 10px; padding: 5px'>
            From: {{f.origin}}
            <br/>
            To: {{f.destination}}
            <br/>
            Departure: {{f.date| date:'yyyy/MM/dd - HH:mm'}}
            <br/>
            Price: {{f.totalPrice}}  
            <br/>
            <a href="#/info/{{$index}}">View Details</a></h3>
        <br/>
    </span>
</div>