<div style="margin: 10px;">   
    <h4 style="color: #000">Detailed info of the flight </h4>
   
    <h3 style="color: #000">Origin: {{flights.origin}}</h3>
    <h2 style="color: #000">Destination: {{flights.destination}}</h2>
    <h2 style="color: #000">Day of the flight: {{flights.date}}</h2> 
    <h2 style="color: #000">Tickets: {{flights.numberOfSeats}}</h2>
    <h2 style="color: #000">Trip price: {{flights.totalPrice}}</h2>
    <h2 style="color: #000">Travel time (min): {{flights.traveltime | date:'yyyy-MM-dd HH:mm:ss Z'}}</h2>
   
</div>