<div style="margin: 10px;">  
    <h4><a href="#/flightlist">Back to results</a></h4>
    <h2 style="color: #000">Detailed info of the flight </h2>
    <br/>
    <h3 style="color: #000">Origin: {{flights.origin}}</h3>
    <h2 style="color: #000">Destination: {{flights.destination}}</h2>
    <h2 style="color: #000">Date of the flight: {{flights.date | date:'yyyy-MM-dd'}}</h2> 
    <h2 style="color: #000">Tickets: {{flights.numberOfSeats}}</h2>
    <h2 style="color: #000">Trip price: {{flights.totalPrice}}</h2>
    <h2 style="color: #000">Travel time (min): {{flights.traveltime}}</h2>

</div>